body {
    /* width: 1280px;
    height: 720px; */
    margin: 0 auto;
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    /* background-size: cover;  */
}

.container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.weniv-logo{
    width: 244px;
    margin: 72px 0 60px;
}

.section-timer{
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
}
.section-timer .timer-title{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding-top: 48px;
    padding-bottom: 23px;

}

.section-timer .timer-title:after {
    display: inline;
    content: "";
    width: 312px;
    height: 10px;
    background-color: white;
    padding-top: 23px;
}

.section-timer .timer-ul{
    color: #A5B6EE;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    padding-top: 33px;
    padding-bottom: 4px ;
    display: flex;
    flex-direction: row;
    justify-content:center;
     /* justify-content: space-evenly; */
}

.timer-ul .min{
    padding: 0 90px;
}
.section-timer .timer-time{
    display: flex;
    justify-content: center;
}

.timer-time li:not(:last-child)::after{
    content: ":";
    display: inline-block;
    color: #8198D0;
    font-size: 60px;
    margin: 0 8px 0 8px;
    vertical-align: 23px;
}

.section-timer .timer-button{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px;
}
.timer-button li:nth-child(1) {
    padding-right: 12px;
}